---
import Layout from "../layouts/Layout.astro";
import MenuOnMobile from "../components/menu-on-mobile.astro";
import MenuOnDesktop from "../components/menu-on-desktop.svelte";
import ReservationForm from "../components/reservation-form.astro";
import Footer from "../components/footer.astro";
import ImageOne from "../assets/image-1.webp";
import ImageTwo from "../assets/image-2.webp";
import ImageThree from "../assets/image-3.webp";
import ImageFour from "../assets/image-4.webp";
import ImageOneSmall from "../assets/image-1-small.webp";
import ImageTwoSmall from "../assets/image-2-small.webp";
import ImageThreeSmall from "../assets/image-3-small.webp";
import ImageFourSmall from "../assets/image-4-small.webp";
import { Image } from "astro:assets";
---

<Layout>
  <section class="flex flex-col flex-grow">
    <!-- Hero -->
    <section class="grid">
      <div
        class="bg-cover bg-center col-start-1 row-start-1"
        style=`background-image: url(${ImageOneSmall.src})`
      >
        <img
          decoding="async"
          loading="eager"
          src={ImageOne.src}
          alt=""
          class=" h-[60vh] md:h-[80vh] min-w-[100vw] object-cover brightness-[0.8]"
          id="img-1"
        />
      </div>
      <div
        class="text-white font-medium text-6xl md:text-8xl lg:text-9xl text-center z-10 col-start-1 row-start-1 flex items-center justify-center"
      >
        Welcome to Fileminon
      </div>

      <div
        class="col-start-1 row-start-1 bg-gradient-to-t from-[#281c1c] h-32 self-end z-10"
      >
      </div>
    </section>
    <!-- hero end  -->

    <div class="bg-[#281c1c] flex h-6"></div>

    <!-- signature dishes  -->
    <section
      class="text-white pt-6 sm:pt-4 md:pt-12 flex flex-col items-center mx-6 sm:mx-20"
    >
      <div class="text-3xl sm:text-4xl text-center sm:self-start">
        Our Signature Dishes
      </div><div
        class="font-extralight text-sm sm:text w-[300px] text-center sm:text-left mt-5 mb-14 sm:self-start"
      >
        Discover the pinnacle of gastronomy with our signature dishes
      </div>

      <div class="flex flex-col gap-10 sm:flex-row justify-center mb-20">
        <div class="flex flex-col sm:flex-1 items-center sm:items-start">
          <div class=" bg-cover bg-center" style=`background-image: url(${ImageTwoSmall.src})`><img
            decoding="async"
            loading="lazy"
            src={ImageTwo.src}
            alt=""
            class="h-[400px] object-cover"
          /></div>
          <div
            class="flex sm:flex-row flex-col items-center sm:items-start justify-between mt-5 font-light text-xl w-full flex-auto"
          >
            <div class="">Weird Sushi</div>
            <div class="italic font-thin">$25</div>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <div class=" bg-cover bg-center" style=`background-image: url(${ImageThreeSmall.src})`><img
            decoding="async"
            loading="lazy"
            src={ImageThree.src}
            alt=""
            class="h-[350px] object-cover"
          /></div><div
            class="flex sm:flex-row flex-col items-center sm:items-start justify-between mt-5 font-light text-xl w-full flex-auto"
          >
            <div class="text-wrap">Slow Cooked Chicken</div>
            <div class="italic font-thin">$40</div>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <div class=" bg-cover bg-center" style=`background-image: url(${ImageFourSmall.src})`><img
            decoding="async"
            loading="lazy"
            src={ImageFour.src}
            alt=""
            class="h-[300px] object-cover"
          /></div><div
            class="flex sm:flex-row flex-col items-center sm:items-start justify-between mt-5 font-light text-xl w-full flex-auto"
          >
            <div class="">Raspberries On Ice</div>
            <div class="italic font-thin">$100</div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div
      class="bg-gradient-to-b from-[#281c1c] to-white h-24"
    >
    </div> -->
    <!-- signature dishes end  -->

    <div class="bg-white flex h-10 sm:h-12"></div>
    <!-- menu start  -->
    <section
      class="flex flex-col bg-white text-orange-950 px-6 sm:px-20 items-center"
    >
      <div class="mb-10 text-wrap text-3xl sm:text-5xl text-center sm:w-[60vw]">
        Our menu is a carefully curated selection of masterpieces
      </div>
      <MenuOnMobile />
      <MenuOnDesktop client:load />
    </section>
    <!-- menu end  -->
    <div class="bg-white flex h-10 sm:h-24"></div>
    <div class="bg-[#281c1c] flex h-10 sm:h-14"></div>
    <!-- reservation start  -->
    <section
      class="flex flex-col bg-[#281c1c] text-white px-6 sm:px-20 items-center"
    >
      <div class="flex flex-col sm:w-[60vw] lg:mr-6 items-center mb-6">
        <div
          class="text-wrap text-2xl sm:text-3xl lg:text-5xl text-center mb-6 lg:mb-12"
        >
          Reserve your table now and enjoy an unforgettable dining experience
        </div>
      </div>
      <div
        class="flex flex-row gap-8 md:gap-16 items-center flex-wrap justify-center"
      >
        <div class="flex flex-col">
          <div
            class="mt-1 text-sm font-normal flex justify-between w-72 border-b-[1px] border-gray-400 mb-2 pb-2"
          >
            Tue-Fri<div class="">10:00 AM - 9:00 PM</div>
          </div>
          <div
            class="mt-1 text-sm font-normal flex justify-between w-72 border-b-[1px] border-gray-400 mb-2 pb-2"
          >
            Sat-Sun<div class="">09:00 AM - 10:00 PM</div>
          </div>
          <div
            class="mt-1 text-sm font-normal flex justify-between w-72 border-b-[1px] border-gray-400 mb-2 pb-2"
          >
            Mon<div class="">Closed</div>
          </div>
        </div>
        <ReservationForm />
      </div>
    </section>
    <!-- reservation end  -->
  </section>
  <div class="bg-white flex h-28 sm:h-24"></div>
  <Footer />
</Layout>
